<!doctype html>
<html>
<head>
<title>
BATHROOM</title>
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>
<body style="background-image:url('http://192.168.0.11/static/bath.jpg')">
<div class="container">
<!-- <div id ="ma" style="background-image: "{{ url_for('static', filename='bulb_on.jpg') }}"> -->
<!-- <h1 style="text-align: center;font-size:70px;color:#800000">BATHROOM</h1> -->
<br>
<br>
<br>
<br>
&emsp;&emsp;&emsp;&emsp;
<div class="jumbotron" style="width:520px;height:270px;position:relative;top:110px;left:50px;background: rgba(255,255, 255, 0.5); ">
&emsp;&emsp;&emsp;&emsp;
<h2 style="display:inline;position:relative;top:20px">LIGHT</h2>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
{%if a[22]['state']==1%}
 <a href="{{url_for('change',pin=22,action = 'off')}}">      
<img src="{{ url_for('static', filename='bulb_on.png') }}"  width="px" height="45px" style="position:relative;top:10px"></a>
</a>
{%else%}
 <a href="{{url_for('change',pin=22,action = 'on')}}">      
<img src="{{ url_for('static', filename='bulb_off.png') }}"  width="px" height="45px" style="position:relative;top:10px"></a>
</a>
{%endif%}
</a>
<br>
<br>
<br>
&emsp;&emsp;&emsp;&emsp;
<h2 style="display:inline;position:relative;top:20px">EXHAUST FAN</h2>
&emsp;&emsp;&emsp;&emsp;&emsp;
{%if a[18]['state']==1%}
 <a href="{{url_for('change',pin=18,action = 'off')}}">      
<img src="{{ url_for('static', filename='fan_on.gif') }}"  width="45px" height="45px" style="position:relative;top:10px" >
</a>
{%else%}
 <a href="{{url_for('change',pin=18, action = 'on')}}">      
<img src="{{ url_for('static', filename='fan_off.png') }}"  width="45px" height="45px" style="position:relative;top:10px" >
</a>
{%endif%}
</div>
<div class="jumbotron" style="width:520px;height:270px;position:absolute;left:750px;top:210px;background: rgba(255,255, 255, 0.5);">
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  <div class="span">
  <a href="{{url_for('kitchen')}}">
<p><button class="btn btn-primary btn-block">GO TO KITCHEN</button></p>
</a>
 <a href="{{url_for('bedroom')}}">
<p><button class="btn btn-primary btn-block">GO TO BEDROOM</button></p>
</a>
<a href="{{url_for('livingroom')}}">
  <p><button class="btn btn-primary btn-block">GO TO LIVINGROOM</button></p>/a>
</div>
</a>
</div>
<br>
<br>
<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<a href="{{url_for('hello')}}">
  <button type="button" style="position:relative;top:80px;left:-90px;" class="btn btn-primary btn-lg">GO TO MAINPAGE</button>
</div>
</a>
</body>
</html>
