<!doctype html>
<html>
<head>
<title>
LIVINGROOM</title>
<link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
</head>
<body style="background-image:url('http://192.168.0.11/static/livin.jpg')">
<div class="container">
<br>
<br>
<!-- <h1 style="text-align: center;font-size:50px;">LIVINGROOM</h1> -->

<br>
<div class="jumbotron" style="width:520px;height:350px;position:relative;top:80px;background: rgba(255,255, 255, 0.5);";>
&emsp;&emsp;&emsp;&emsp;
<h3 style="display:inline;position:relative;top:-10px;font-weight: bold;">LIGHT</h3>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
{%if a[33]['state']==1%}
 <a href="{{url_for('change',pin=33, action = 'off')}}">      
<img src="{{ url_for('static', filename='bulb_on.png') }}"  width="30px" height="30px" style="position:relative;top:-20px"></a>
{%else%}
 <a href="{{url_for('change',pin=33, action = 'on')}}">      
<img src="{{ url_for('static', filename='bulb_off.png') }}"  width="30px" height="30px" style="position:relative;top:-20px">
</a>
{%endif%}
<br>
<br>
<br>
&emsp;&emsp;&emsp;&emsp;
<h3 style="display:inline;position:relative;top:-10px;font-weight: bold;">AC</h3>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
{%if a[37]['state']==1%}
 <a href="{{url_for('change',pin=37, action = 'off')}}">      
<img src="{{ url_for('static', filename='switch_on.png') }}"  width="30px" height="30px" style="position:relative;top:-20px"></a>
{%else%}
 <a href="{{url_for('change',pin=37, action = 'on')}}">      
<img src="{{ url_for('static', filename='switch_off.png') }}"  width="30px" height="30px" style="position:relative;top:-20px">
</a>
{%endif%}
<br><br><br>
&emsp;&emsp;&emsp;&emsp;
<h3 style="display:inline;position:relative;top:-10px;font-weight: bold;">FAN</h3>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
{%if a[36]['state']==1%}
 <a href="{{url_for('change',pin=36, action = 'off')}}">      
<img src="{{ url_for('static', filename='fan_on.gif') }}"  width="30px" height="30px" style="position:relative;top:-20px" ></a>
{%else%}
 <a href="{{url_for('change',pin=36, action = 'on')}}">      
<img src="{{ url_for('static', filename='fan_off.png') }}"  width="30px" height="30px" style="position:relative;top:-20px">
</a>
{%endif%}
<br><br><br>
&emsp;&emsp;&emsp;&emsp;
<h3 style="display:inline;position:relative;top:-10px;font-weight: bold;">TV</h3>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
{%if a[32]['state']=="on"%}
 <a href="{{url_for('change',pin=32, action = 'off')}}">      
<img src="{{ url_for('static', filename='switch_on.png') }}"  width="30px" height="30px" style="position:relative;top:-20px"></a>
{%else%}
 <a href="{{url_for('change',pin=32, action = 'on')}}">      
<img src="{{ url_for('static', filename='switch_off.png') }}"  width="30px" height="30px" style="position:relative;top:-20px">
</a>
{%endif%}
</a>
</div>
<div class="jumbotron" style="width:520px;height:350px;position:absolute;left:750px;top:140px;background: rgba(255,255, 255, 0.5);">
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  <div class="span">
  <a href="{{url_for('kitchen')}}">
<p><button class="btn btn-primary btn-block">GO TO KITCHEN</button></p>
</a>
<br>
 <a href="{{url_for('bedroom')}}">
<p><button class="btn btn-primary btn-block">GO TO BEDROOM</button></p>
</a>
<br>
<a href="{{url_for('bathroom')}}">
 <p><button class="btn btn-primary btn-block">GO TO BATHROOM</button></p></a>
</div>
</div>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
</div>
</div>
<br>
<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<a href="{{url_for('hello')}}">
  <button type="button" style="position:relative;top:50px;left:-40px;" class="btn btn-primary btn-lg">GO TO MAINPAGE</button>
</a>
</body>
</html>
